/.vscode
/.idea
/Transmit/__pycache__
/Estimation/__pycache__
/Encoder/__pycache__
/Decoder/__pycache__
Transformer/__pycache__/Model.cpython-39.pyc
Transformer/__pycache__/Model_article.cpython-39.pyc
Transformer/__pycache__/Codes_article.cpython-39.pyc
Metric/__pycache__/ErrorRate.cpython-39.pyc
Metric/__pycache__/.uuid
Encode/__pycache__/Modulator.cpython-39.pyc
Encode/__pycache__/Generator.cpython-39.pyc
Encode/__pycache__/Encoder.cpython-39.pyc
Encode/__pycache__/.uuid
Decode/__pycache__/NNDecoder.cpython-39.pyc
Decode/__pycache__/MaximumLikelihood.cpython-39.pyc
Decode/__pycache__/likelihood.cpython-39.pyc
Decode/__pycache__/LDPC_BP.cpython-39.pyc
Decode/__pycache__/HardDecision.cpython-39.pyc
Decode/__pycache__/Decoder.cpython-39.pyc
Decode/__pycache__/Converter.cpython-39.pyc
Decode/__pycache__/.uuid
Codebook/__pycache__/CodebookMatrix.cpython-39.pyc
__pycache__/generating.cpython-39.pyc
__pycache__/earlystopping.cpython-39.pyc
__pycache__/.uuid
Transformer/__pycache__/Functions.cpython-39.pyc
Codebook/__pycache__/.uuid
Transformer/__pycache__/.uuid
