/.idea/modules.xml
/.idea/misc.xml
/.idea/vcs.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/master-thesis.iml
/.idea/workspace.xml
/.vscode/launch.json
/.idea/other.xml
/TestingVersion.py
/Transmit/__pycache__
/Estimation/__pycache__
/Encoder/__pycache__
/Decoder/__pycache__